.wrapperone {
    width: 100%;
    margin: 0 ;
    
}

nav{
    background: steelblue;
    opacity: 0.5;
}

nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;

    
}
nav a
{
    text-decoration: none;
    color: white;
    display: block;
    padding: 25px;
    
}


 .wrappertwo
{
    display: block;
    margin-left: 30%;
    width: 50%;
}